/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../scss/screen.scss */
html {
  height: 100%;
}

/* line 11, ../scss/screen.scss */
body {
  font-family: Sorts Mill Goudy;
  background-color: #f8f8f8;
  color: #666;
  word-spacing: 0.1em;
}

/* line 18, ../scss/screen.scss */
a {
  color: #666;
}

/* line 22, ../scss/screen.scss */
div.container {
  margin-left: 5%;
  margin-bottom: 50px;
  width: 700px;
}

/* line 28, ../scss/screen.scss */
#me {
  display: inline;
  float: right;
  margin-left: 25px;
}
/* line 32, ../scss/screen.scss */
#me img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 125px;
  box-shadow: 2px 2px 5px #ccc;
}

/* line 39, ../scss/screen.scss */
#links {
  margin-top: 5px;
  font-size: .9em;
}
/* line 43, ../scss/screen.scss */
#links li {
  text-align: right;
  margin: 5px 5px;
}
/* line 47, ../scss/screen.scss */
#links a {
  color: #78c;
  text-decoration: none;
}
/* line 50, ../scss/screen.scss */
#links a:hover {
  text-decoration: underline;
}

/* line 56, ../scss/screen.scss */
#intro {
  margin-top: 15px;
  line-height: 1.2em;
  text-align: justify;
}
/* line 61, ../scss/screen.scss */
#intro li {
  margin: 0;
}
/* line 63, ../scss/screen.scss */
#intro li:before {
  content: "\b7  ";
}

/* line 69, ../scss/screen.scss */
h1, h4, h5 {
  margin-top: 30px;
  letter-spacing: -0.05em;
  color: #444;
  text-shadow: 1px 1px 2px #888;
}

/* line 75, ../scss/screen.scss */
h1 {
  font-size: 3em;
  text-indent: -2px;
  margin-top: 6%;
}

/* line 80, ../scss/screen.scss */
h2 {
  color: #888;
  font-size: 1.3em;
  font-weight: normal;
  margin-top: 10px;
  text-shadow: -1px 1px white;
}

/* line 87, ../scss/screen.scss */
h4 {
  font-size: 1.7em;
  margin-bottom: 10px;
}

/* line 91, ../scss/screen.scss */
h5 {
  font-size: 1.3em;
  color: #666;
  letter-spacing: 0;
  font-weight: normal;
  margin: 5px 0px;
}

/* line 99, ../scss/screen.scss */
ul {
  margin-top: 15px;
  padding: 0;
}
/* line 102, ../scss/screen.scss */
ul li {
  margin: 8px 0;
}

/* line 107, ../scss/screen.scss */
table {
  margin-left: 2px;
  width: 100%;
}

/* line 111, ../scss/screen.scss */
tr:nth-of-type(n+2) {
  border-top: 1px solid #ddd;
}

/* line 114, ../scss/screen.scss */
td {
  padding-top: 8px !important;
}
/* line 117, ../scss/screen.scss */
td:nth-of-type(n+2) {
  padding: 5px 30px;
}
/* line 120, ../scss/screen.scss */
td:nth-of-type(1) {
  padding: 5px 15px 5px 0;
}
/* line 123, ../scss/screen.scss */
td:nth-of-type(2) {
  text-align: right;
}
/* line 126, ../scss/screen.scss */
td:nth-of-type(3) {
  font-size: .85em;
}

/* line 131, ../scss/screen.scss */
.other-skills {
  line-height: 1.3em;
}

/* line 135, ../scss/screen.scss */
.project {
  clear: both;
  float: left;
  margin-bottom: 20px;
}
/* line 139, ../scss/screen.scss */
.project .name {
  float: left;
  color: #888;
  margin-bottom: 5px;
  font-style: italic;
}
/* line 145, ../scss/screen.scss */
.project .tech-list {
  float: right;
  width: 28%;
  margin: 0;
}
/* line 149, ../scss/screen.scss */
.project .tech-list li {
  float: right;
  display: inline;
  padding: 4px;
  font-size: .9em;
  color: #aaa;
  text-shadow: -1px 1px white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin: 0px;
}
/* line 160, ../scss/screen.scss */
.project .description {
  clear: both;
  float: left;
  width: 70%;
  text-align: justify;
  font-size: .9em;
  line-height: 1.4em;
}

/* line 171, ../scss/screen.scss */
.job {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 174, ../scss/screen.scss */
.job .title {
  float: left;
  color: #888;
  display: inline-block;
  font-style: italic;
}
/* line 180, ../scss/screen.scss */
.job .duration {
  float: right;
  color: #aaa;
}
/* line 184, ../scss/screen.scss */
.job .description {
  clear: both;
  float: left;
  margin-top: 5px;
  line-height: 1.3em;
  text-align: justify;
  font-size: .9em;
}

/* line 194, ../scss/screen.scss */
ul.misc {
  margin-top: 5px;
}
