html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
  font-family: Arimo;
  font-size: 16px;
  line-height: 20px;
}

body {
  color: #666;
  word-spacing: 0.1em;
  background: #f8f8f8;
}

a {
  color: #666;
}

div.container {
  margin: 40px auto;
  padding: 40px 0;
  width: 700px;
  background-color: #f8f8f8;
  padding: 40px;
}

#me {
  display: inline;
  float: right;
  margin-left: 25px;
}
#me img {
  width: 125px;
  box-shadow: 2px 2px 5px #ccc;
  margin-left: 10px;
}

#links {
  margin-top: 10px;
  font-size: .9em;
  display: inline-block;
}
#links li {
  margin: 0;
  display: inline;
}
#links li:nth-of-type(n+2) {
  border-left: 1px solid #bbb;
  margin-left: 5px;
  padding-left: 10px;
}
#links a {
  color: #78c;
  text-decoration: none;
}
#links a:hover {
  text-decoration: underline;
}

#intro {
  margin-top: 15px;
  text-align: justify;
}
#intro li {
  margin: 3px 0;
}
#intro li:before {
  content: "\b7  ";
}

h1, h4, h5 {
  margin-top: 30px;
  color: #444;
  font-family: Sanchez;
}

h1 {
  font-size: 3em;
  line-height: 48px;
  text-indent: -2px;
  margin-top: 0;
}

h2 {
  font-family: Sanchez;
  color: #444;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: normal;
  margin-top: 10px;
}

h4 {
  font-size: 1.7em;
  line-height: 1.7em;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.3em;
  line-height: 1.3em;
  color: #666;
  letter-spacing: 0;
  font-weight: normal;
  margin: 7px 0px;
}

ul {
  margin-top: 15px;
  padding: 0;
}
ul li {
  margin: 8px 0;
}

table {
  margin-left: 2px;
  width: 100%;
  font-size: .9em;
}

tr:nth-of-type(n+2) {
  border-top: 1px solid #ddd;
}

td {
  padding-top: 8px !important;
}
td:nth-of-type(n+2) {
  padding: 5px 25px;
}
td:nth-of-type(1) {
  padding: 5px 15px 5px 0;
}
td:nth-of-type(2) {
  text-align: right;
}

.project {
  clear: both;
  float: left;
  margin-bottom: 20px;
}
.project .name {
  float: left;
  color: #888;
  margin-bottom: 5px;
  font-weight: bold;
}
.project .tech-list {
  float: right;
  width: 28%;
  margin: 0;
}
.project .tech-list li {
  float: left;
  display: inline;
  padding: 0 10px 10px 0;
  font-size: .9em;
  color: #aaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px;
}
.project .description {
  clear: both;
  float: left;
  width: 70%;
  font-size: .95em;
}

.job {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 20px;
}
.job .title {
  float: left;
  color: #888;
  display: inline-block;
  font-style: italic;
}
.job .duration {
  float: right;
  color: #aaa;
}
.job .description {
  clear: both;
  float: left;
  margin-top: 5px;
  /*text-align: justify;*/
  font-size: .9em;
}

ul.misc {
  margin-top: 5px;
}
