<!DOCTYPE html>

<html>
  <head>
    <title>{{ page.title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/screen.css" media="screen,print" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
      {{ content }}
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27438416-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type='text/javascript'>
      var protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
      document.write(unescape("%3Cscript src='" + protocol + "dxxivdcpl221v.cloudfront.net/jumbe.js'  type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type='text/javascript'>
      try {
        jumbe.initialize("Q2x_VmrUxfSqCM9FfOfZDg", {
          includeHash: true
        });
        jumbe.pageview();
      } catch (err) {}
    </script>
  </body>
</html>
